@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700italic);
@import url(https://fonts.googleapis.com/css?family=Aclonica);
* {
  font-size: 100%;
  box-sizing: border-box;
}


body {
  font-family: "Cambria", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: white;
  background: #e2f3f3;
}

header {
  top: 0;
  min-height: 3em;
  width: 100%;
  line-height: 3em;
  text-align: center;
  border-bottom: 5px solid black;
}

p#md {
  color: #d3d9d9;
  font-size: 2em;
  background: white;
  text-align: center;
  max-width: 100%; 
  font-family: 'Aclonica', sans-serif;
  vertical-align: middle;
}

p#md.light {
  color: #73bab8;
  background: #454644;
  font-size: 20px;
}

p#md.light span.mon {
  color: white;
  background: #454644;
  font-size: 20px;
}

@media all and (min-width: 830px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex: 1;
    margin-bottom: 20px;
  }

  [class*="col-"]:last-child {
    margin-right: 0;
  }
}

body,html {
height: 100%;
width: 100%;
background: url('../img/grad.png');
background-size: cover;
background-attachment: fixed;
background-repeat: repeat-y;

}

h1{
  font-family: 'Cambria', sans-serif;
  font-size: 25px;
  color: black;
  font-weight: bold;
}
#button1 {
  font-family: 'Cambria', sans-serif;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

h2{
  font-family: 'Aclonica', sans-serif;
  font-size: 20px;
  color: #73bab8;
  font-weight: bold;
}
h3{
  font-family: 'Aclonica', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
img {
  max-width: 100%;  
  max-height: 100% !important;
  vertical-align: text-top;
}

}